.project{
    width: 25%;
    height: 40vh;
    margin: 10px 10px !important;
    border: 2px solid rgba(0, 0, 0, 0.274);
    overflow: hidden;
}

.projectImg{
    width: 100%;
    transition: all 10s ease;
}

.card {
width: 100%;
height: 100%;
background-color: tomato;
transition: transform 1s ease-in-out;
transform-style: preserve-3d;
}

.project:hover .card{
    transform: rotateY(180deg)
}

.card .front {
    background: turquoise;
}

.card figure {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
}

.card .back {
    background: yellow;
    transform: rotateY(180deg);
}
/* phone/mobile device */
@media screen and (max-width: 480px) {
    .project{
        width: 40%;
        height: 20vh;
    }
    }