.resume {
    height: 90vh;
    width: 100vw;
    font-family: 'Open Sans Condensed', sans-serif;
}

.resumeTitle{
    background: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.resumeName {
    font-size: 2rem;
}

.resumeCatch{
    font-size: 1rem;
}

.resumeContainer{
    display: flex;
    background: cornflowerblue;
    width: 100vw;
    justify-content: center;
}
.resumeSubContain{
    width: 60vw;
    display: flex;
    flex-direction: row;
}

.resume-left {
    flex: 1;
    background-color: #fff;
    flex-direction: column;
    width: 30vw;
}

.resume-right {
    flex: 1;
    background-color: red;
    flex-direction: column;
}

.resume h2 {
    font-size: 1.5rem;
}