.about {
    height: 100vh;
    display: flex;
    align-items: center;
}

.about-left{
    flex:1;
    display: flex;
    align-items:center;
    justify-content: center;
    position: relative;
    background-color: orange;
    height: 100%;
}

.about-right{
    flex:1;
    background-color: palegreen;
}

.about-desc{
color: purple;
}

/* phone/mobile device */
@media screen and (max-width: 480px) {
    .about{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }
    .about-left{
        width: 100%;
    }

    .about-right{
        padding: 20px;
    }
    }