*{
    margin: none;
    padding: none;
}

.intro {
    display: flex;
    height: 90vh;
    background-color: whitesmoke;
}
.intro-left{
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.intro-right{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.introBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.introTitle{
    height: 50vh;
    width: 75vh;
}

.introName{
    font-size: 4rem;
    text-align: center;
    font-family: 'Klee One', cursive;
    color: black;
}

@keyframes move {
    25%{
        transform:  translateY(-50px);
    }
    50%{
        transform:  translateY(-100px);

    }
    75%{
        transform:  translateY(-150px);

    }
    100%{
        transform:  translateY(-200px);
    }
}

.intro-title{
    height: 50px;
    overflow: hidden;
}

.intro-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

.intro-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Klee One', cursive;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introAbout {
    color: black;
    font-family: 'Klee One', cursive;
}

.megaLaurel {
    height: 90vh;
    width: auto;
}

@media screen and (max-width: 850px){
    .intro{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .intro-left{
        height: 40vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .introAbout{
        width: 100vw;
        height: 30vh;
        text-align: center;
    }
    .intro-right{
        height: 30vh;
        width: 100vw;
    }
    .megaLaurel{
        height: 400px;
        width: auto;
    }
}

/* phone/mobile device */
@media screen and (max-width: 480px) {
    .intro{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .intro-left{
        height: 40vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .introAbout{
        width: 100vw;
        height: 30vh;
        text-align: center;
    }
    .intro-right{
        height: 30vh;
        width: 100vw;
    }
    .megaLaurel{
        height: 400px;
        width: auto;
    }
}

@media screen and (max-width: 850px){
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

.intro-title-wrapper{
    display: none;
}

.introName{
    font-size: 25px;
    width: 100vw;
    height: 10vh;
    text-align: center;
}

.megaLaurel{
    height: 125px;
}

}