*{
    margin: none;
    padding: none;
}

.intro {
    display: flex;
    height: 90vh;
    background-color: whitesmoke;
}
.intro-left{
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.intro-right{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.introBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.introTitle{
    height: 50vh;
    width: 75vh;
}

.introName{
    font-size: 4rem;
    text-align: center;
    font-family: 'Klee One', cursive;
    color: black;
}

@keyframes move {
    25%{
        transform:  translateY(-50px);
    }
    50%{
        transform:  translateY(-100px);

    }
    75%{
        transform:  translateY(-150px);

    }
    100%{
        transform:  translateY(-200px);
    }
}

.intro-title{
    height: 50px;
    overflow: hidden;
}

.intro-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

.intro-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Klee One', cursive;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introAbout {
    color: black;
    font-family: 'Klee One', cursive;
}

.megaLaurel {
    height: 90vh;
    width: auto;
}

/* phone/mobile device */
@media screen and (max-width: 480px) {
.intro{
    flex-direction: column;
}
.intro-left-wrapper{
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
}


}