.contact {
    height: 100vh;
    position: relative;
    display: flex;
}


.contactWrapper {
    width: 100vw;
    padding: 50px;
    display: flex;
}

.contact-left {
    flex:1;
    background-color: orange;

}

.contact-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactTitle {
    font-size: 60px;
    width: 80%;
}

.contactInfoItem {
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
    width: 70%;
}

.contactIcon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.contactDesc {
    font-weight: 200;
}

form {
    margin-top: 20px;
}

input {
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}
  
textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

button {
    border: none;
    padding: 15px;
    background-color: rgb(135, 47, 47);
    color: blue;
    font-weight: 500;
    cursor: pointer;
}