* {    
    margin: 0 !important;
    padding: 0 !important;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav {
    height: 10vh;
    background-color: #7195A3;
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-left {
    flex: 1;
}

.nav-right {
    flex: 1;
    text-align: center;
}

.navName {
    font-family: 'Inspiration', cursive;
    font-size: 3.5rem;
    color: #f0e9d7;
    margin: 0px 25px !important;
}

.bigL {
    font-family: 'Great Vibes', cursive;
}

.navItems {
    color: #f0e9d7;
    font-size: 1.75rem;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    justify-content: space-evenly;
}

.navItems:hover {
    cursor: pointer;
}