*{
    margin: none;
    padding: none;
}

.intro {
    display: flex;
    height: 90vh;
}

.intro-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.introBox{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 250, 250, 0.164);
}

.introTitle{
    height: 50vh;
    width: 75vh;
    /* background-color: rgba(95, 158, 160, 0.205); */
}

.introName{
    font-size: 4rem;
    text-align: center;
    font-family: 'Klee One', cursive;
    color: white;
}

@keyframes move {
    25%{
        transform:  translateY(-50px);
    }
    50%{
        transform:  translateY(-100px);

    }
    75%{
        transform:  translateY(-150px);

    }
    100%{
        transform:  translateY(-200px);
    }
}

.intro-title{
    height: 50px;
    overflow: hidden;
}

.intro-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

.intro-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Klee One', cursive;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introAbout {
    color: white;
    font-family: 'Klee One', cursive;
}

/* phone/mobile device */
@media screen and (max-width: 480px) {
.intro{
    flex-direction: column;
}
.intro-left-wrapper{
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
}


}