*{
    margin: none;
    padding: none;
}
.intro {
    display: flex;
    height: 90vh;
    background-color: rgb(168, 157, 243);
}

.intro-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro-right {
    flex: 1;
}

.intro-name{
    font-size: 50px;
}

.intro-left-wrapper{
    padding: 50px;
    height: 50%;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-phrase{
    font-size: 30px;
    font-weight: 300;
}

.intro-title{
    height: 50px;
    overflow: hidden;
}

.intro-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform:  translateY(-50px);
    }
    50%{
        transform:  translateY(-100px);

    }
    75%{
        transform:  translateY(-150px);

    }
    100%{
        transform:  translateY(-200px);
    }
}

.intro-title-item{
height: 50px;
font-size: 30px;
font-weight: bold;
color: orangered;
background-color: palegreen;
display: flex;
align-items: center;
}

.intro-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* phone/mobile device */
@media screen and (max-width: 480px) {
.intro{
    flex-direction: column;
}
.intro-left-wrapper{
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
}


}