*{
    margin: none;
    padding: none;
}
.intro {
    display: flex;
    height: 100vh;
    background-color: rgb(168, 157, 243);
}

.intro-left {
    flex: 1;
}
.intro-right {
    flex: 1;
}

.intro-name{
    font-size: large;
}

.intro-left-wrapper{
    padding: 50px;
}