.foot {
    width: 100vw;
    height: 15vh;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footIcons{
padding: 10px;
width: 15vw;
display: flex;
align-items: center;
justify-content: space-evenly;
}

.footImg{
    width: 45px;
    opacity: 50%;
    border-radius: 50%;
}
.footImg1{
    width: 50px;
    opacity: 50%;
    border-radius: 50%;
}

.footImg:hover {
    cursor: pointer;
    opacity: 75%;
}

.ghLogo {
    background-color: #F0F0F0;
}

.imgBorder {
    border: 2px black solid
}

@media screen and (max-width: 850px){
    .foot{
        height: 20vh;
        bottom: 0;
        position: relative;
    }

}